<app-painel-simples tipo="primary" titulo="{{ titulo }}" col="6">
    <table *ngIf="!erro; else mensagem" class="table ">
        <thead>
            <tr>
                <th>Especialidade</th>
                <th>Quantidade</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let consulta of consultas ">
                <td>{{ consulta.especialidade }}</td>
                <td>{{ consulta.quantidade }}</td>

            </tr>
        </tbody>
    </table>
    <ng-template #mensagem>
        <h3>Falha na omunicação com o Servidor</h3>
    </ng-template>


</app-painel-simples>